.myfooter {
    background-color: #163b65;
    height: 5em;
    margin-top: 25px;
    padding: 1em;
    color: white;
  }
  .availability-button {
    max-width: 50%;
  }
  .myNavbar {
    z-index: -1;
  }

  .room-img{
    max-width: 50%;
  }  
  .notie-container{
    z-index: 100;
  }
 