.myfooter {
    background-color: #163b65;
    height: 5em;
    margin-top: 25px;
    padding: 1em;
    color: white;
  }
  .availability-button {
    max-width: 50%;
  }
  .my-navbar {
    z-index: 2;
  }
  .notie-container{
    z-index: 10000;
  }
  .room-img{
    max-width: 50%;
  }  

 