{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is dokun rooms</h1>
            </div>
            <div class="col">
                <h2>this is just testing</h2>
            </div>
        </div>
    </div>
    
{{end}}

{{define "js"}}
      <script>
            Notify("You are done ","success")
      </script>
{{end}}
