{{template "admin" .}}
{{define "page-title"}}
    Dashboard
{{end}}

{{define "content"}}
    <div class="col-md-12">
        Reservation Calendar
    </div>
    
{{end}}

{{define "js"}}
      <script>
            
      </script>
{{end}}