{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is dokun rooms</h1>
                <img src="/static/images/outside.png" alt="Girl in a jacket" width="800" height="500">
            </div>
            <div class="col">
                <a href="/about">About Page </a>
            </div>
        </div>
    </div>
    
{{end}}


